<%= content_tag_for(:tr, conversation) do |conversation| %>
  <td><%= conversation.recipients %></td>
  <td><%= link_to conversation.subject, conversation_path(conversation) %></td>
  <td class="text-center" width="5%">
    <% if conversation.is_completely_trashed?(current_user) %>
      <%= link_to 'Untrash', untrash_conversation_path(conversation), method: :post %>
    <% else %>
      <%= link_to fa_icon("trash-o"), trash_conversation_path(conversation), method: :post %>
    <% end %>
  </td>
<% end %>
