<div class="row flexrow show-header">
  <div class="col-sm-9">
    <h1>Submission for <%= @submission.request_title %></h1>
  </div>

  <div class="col-sm-3 text-right flexcol-center">
    <div class="btn-group flexrow-center">
      <% if can? :manage, @submission %>
      <%= link_to "Edit", edit_info_request_submission_path(@submission.info_request_id, @submission), class: "btn btn-warning btn-sm" %>
      <%= link_to "Delete", info_request_submission_path(@submission.info_request_id, @submission), method: :delete, data: {confirm: "Are you sure you want to delete this submission?"}, class: "btn btn-danger btn-sm" %>
      <% end %>
    </div>
  </div>
</div>

<% @submission.content.each do |key, value| %>
  <% if !value.empty? %>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= key.to_s.titleize %></h3>
      </div>
      <div class="panel-body">
        <% if key == :files %>
          <% @submission.files.each do |file| %>
          <div class="submission-image"><%= image_tag file.url %></div>
          <% end %>
        <% else %>
          <%= value %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
