<ul class="list-group">
  <% if current_user.consultant? %>
    <li><%= link_to "New Request", new_info_request_path, class: "btn btn-primary", remote: true %></li>
    <li class="list-group-item"><%= link_to "All Requests", info_requests_path({filter: "all"}), remote: true %></li>
    <li class="list-group-item"><%= link_to "Completed Requests", info_requests_path({filter: "true"}), remote: true  %></li>
    <li class="list-group-item"><span class='badge'><%= current_user.pending_requests_count %></span><%= link_to "Pending Requests", info_requests_path({filter: "false"}), remote: true %></li>
    <hr>
    <li><%= link_to "Add New Client", new_client_path, class: "btn btn-primary", remote: true %></li>
    <li class="list-group-item"><%= link_to "All Clients", clients_path({filter: "all"}), remote: true %></li>
    <li class="list-group-item"><%= link_to "Active Clients", clients_path({filter: "active"}), remote: true %></li>
    <li class="list-group-item"><%= link_to "Archived Clients", clients_path({filter: "archive"}), remote: true %></li>
    <li class="list-group-item"><%= link_to "View Submissions", submissions_path, remote: true %></li>
  <% else %>
    <li class="list-group-item"><%= link_to "All Requests", info_requests_path({filter: "all"}), remote: true  %></li>
    <li class="list-group-item"><span class='badge'><%= current_user.pending_requests_count %></span><%= link_to "Pending Requests", info_requests_path({filter: "false"}), remote: true %></li>
    <li class="list-group-item"><%= link_to "All Submissions", submissions_path({filter: "all"}), remote: true  %></li>
    <li class="list-group-item"><span class='badge'><%= current_user.pending_submissions_count %></span><%= link_to "Pending Submissions", submissions_path({filter: "false"}), remote: true  %></li>
  <% end %>
  </ul>
