<ul class="list-group">
  <% if current_user.consultant? %>
    <li class="list-group-item"><%= link_to "New Request", new_info_request_path, class: "btn btn-primary" %></li>
    <li class="list-group-item"><%= link_to "All Requests", info_requests_path({filter: "all"}) %></li>
    <li class="list-group-item"><%= link_to "Completed Requests", info_requests_path({filter: "true"})  %></li>
    <li class="list-group-item"><span class='badge'><%= current_user.pending_requests_count %></span><%= link_to "Pending Requests", info_requests_path({filter: "false"}) %></li>
    <hr>
    <li class="list-group-item"><%= link_to "Add New Client", new_client_path, class: "btn btn-primary" %></li>
    <li class="list-group-item"><%= link_to "All Clients", clients_path %></li>
    <li class="list-group-item"><%= link_to "Active Clients", clients_path %></li>
    <li class="list-group-item"><%= link_to "Archived Clients", clients_path %></li>
    <li class="list-group-item"><%= link_to "View Submissions", submissions_path %></li>
  <% else %>
    <li class="list-group-item"><%= link_to "All Requests", info_requests_path({filter: "all"})  %></li>
    <li class="list-group-item"><span class='badge'><%= current_user.pending_requests_count %></span><%= link_to "Pending Requests", info_requests_path({filter: "false"}) %></li>
    <li class="list-group-item"><%= link_to "All Submissions", submissions_path({filter: "all"})  %></li>
    <li class="list-group-item"><span class='badge'><%= Submission.pending_count %></span><%= link_to "Pending Submissions", submissions_path({filter: "false"})  %></li>
  <% end %>
  </ul>
