<!DOCTYPE html>
<html>
<head>
  <title>ZenJobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/ajax_modal' %>
<% if content_for? :home %>
  <div class="container-fluid flexcol">
    <div>
      <%= render 'layouts/navbar' %>
    </div>
  </div>
  <%= yield :home %>
  <%= render 'layouts/footer' %>
<% else %>
  <div class="container-fluid flexcol">
    <div>
      <%= render 'layouts/navbar' %>
    </div>
    <% if user_signed_in? %>
    <% if content_for? :profile %>
      <div class="col-sm-4 col-sm-offset-4"><%= yield :profile %></div>
    <% elsif content_for? :messenger %>
    <div id="page-content" class="flexcol">
      <div class="row flexrow">
        <div class="col-sm-3 flexrow" >
          <div id="dash-nav" class="flexcol well">
            <%= render "layouts/dash_nav_messenger" %>
          </div>
        </div>
        <div class="col-sm-9 flexrow">
          <div class="flexcol well">
            <%= render 'layouts/notices' %>
            <div id="dash-content"><%= yield :messenger %></div>
          </div>
        </div>
      </div>
    </div>
    <% else %>
    <div id="page-content" class="flexcol">
      <div class="row flexrow">
        <div class="col-sm-3 flexrow" >
          <div id="dash-nav" class="flexcol well">
            <%= render "layouts/dash_nav" %>
          </div>
        </div>
        <div class="col-sm-9 flexrow">
          <div class="flexcol well">
            <%= render 'layouts/notices' %>
            <div id="dash-content"><%= yield %></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% else %>
    <div id="page-content"><%= yield %></div>
    <% end %>
  </div>
  <%= render 'layouts/footer' %>
<% end %>

</body>
</html>
